.header{
    background:url("../images/backgrounds/h_img.jpg") no-repeat center center/cover;
    height: 100vh;
    color: #fff;  
}
.mouse-click{
    position: absolute;
    top: 90vh;
}
.header h1{
    font-size: 3.5rem;
    line-height: 1.5;
}
.delani{
    display: block;
    font-size: 4rem;
}
.logo{
   margin-bottom: 2rem;
}
.about p{
    width: 59%;
} 
.services{
    height: 50vh;
    background: url("../images/backgrounds/s_image.jpg") no-repeat center center/cover;
    color: #fff;
}
.contacts{
    background: url("../images/backgrounds/c_image.jpg")no-repeat center center/cover;
    height: 50vh;
    color: #fff;
}
#submit{
    margin-top: 2rem;
    display: block;
}
form{
    width: 50%;
    margin: 0 auto;
}
    
#name,#email,#message{
    background-color: transparent;
}
    #name::placeholder,#email::placeholder,#message::placeholder{
    color: #fff;
    }
    #image-1,
    #image-2,
    #image-3,
    #image-4,
    #image-5,
    #image-6,
    #image-7,
    #image-8 {
        text-align: center;
        color: white;
        font-size: 2em;
        border: 2px solid white;
        margin-top: -120px;
        display: none;
        
        
    }
/* .portfolio1{
    position:absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
} */ 
/* .portfolio2,
.portfolio3,
.portfolio4,
.portfolio5,
.portfolio6,
.portfolio7,
.portfolio8{
    position:absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
        
    } */

/* .image2,
.image3,
.image4,
.image5,
.image6,
.image7,
.image8{
    position: absolute;
    text-align: center;
    color: black;
    font-size: 2em;
    border: 2px solid white; */

    
    
        
    
        